a{
text-decoration:none;
}
a:hover
{
   text-decoration: none;
}

.table-responsive th {
    align-items: center !important;
    font-size: 14px !important;
    color: #4C5C73;
}

.table-responsive td {
    text-align: center !important;
    min-width: 40px !important;
    width: 90px;
}

.center-row {
    float: none;
    margin: 0 auto;
}

.text-name {
    color: #C2CBCE;
    text-align: center;
}

.text-pin {
    color: #636c72;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.text-title {
    color: #337ab7;
    font-size: 24px;
    text-align: center;
}

.text-error-cod {
    color: #c12e2a;
    font-size: 32px;
    text-align: center;
}

.text-error-des {
    color: #636c72;
    font-size: 18px;
    text-align: center;
}

.icon-pin:before {
    font: normal normal normal 16px/1 FontAwesome;
    content: "\f192";
    font-size: 2em;
}

.icon-error:before {
    font: normal normal normal 16px/1 FontAwesome;
    content: "\f0a8";
    font-size: 2em;
    color: #636c72;
}

.alert {

    background-color: #F7F7F7 !important;
    border: 0px !important;
}

@media (max-width: 767px) {

    .table-responsive th {
        font-size: 12px !important;
    }

    .table-responsive td {
        max-width: 42px;
        width: 80px;
        margin: 0px;
    }

    .text-name {
        color: #C2CBCE;
        font-size: 12px;
    }

    .text-pin {
        color: #636c72;
        font-size: 12px;
        font-weight: bold;
    }

    .text-title {
        font-size: 18px;
        text-align: center;
    }

    .icon-pin:before {
        font-size: 1.3em;
    }
}
