{% extends "base.html" %}

{% block body %}
{{ super() }}
{% block content %}
    <div class="container col-md-3">
    <div class="w-100">&nbsp;</div>
    <div class="alert alert-info alert-dismissible fade show flashes" role="alert">
        <h3 class="text-error-cod"> Error 404 </h3>
        <h5 class="text-error-des"> Not found </h5>
        <br>
        <div class="container col-md text-center">
        <a href="javascript:window.history.go(-1)"><i class="icon-error"></i></a>
        </div>
    </div>
    </div>
{% endblock content %}
{% endblock body %}
