{% extends "base.html" %}

{% block body %}
{{ super() }}
{% block content %}
    <div class="container col-md-3">
    <div class="w-100">&nbsp;</div>
        <h3 class="text-error-cod"> Error 500 </h3>
        <h5 class="text-error-des"> Internal Server Error </h5>
        <br>
        <div class="container col-md text-center">
        <a href="javascript:window.history.go(-1)"><i class="icon-error"></i></a>
        </div>
    </div>
{% endblock content %}
{% endblock body %}