<!DOCTYPE html>

{% block html %}
<html {% block html_attribs %} lang="pt_BR", xmlns="http://www.w3.org/1999/html"{% endblock html_attribs %}>

{% block head %}
<head>
    <title>{% block title %} {{ config.TITLE_APP }} {% endblock title %}</title>

{% block metas %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
{% endblock metas %}

{% block styles %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet" type="text/css">
{% endblock styles %}

</head>
{% endblock head %}

{% block body %}
<body>

{% block navbar %}
    <div class="container col-md-3">
    <nav class="navbar navbar-fixed-top navbar-sm navbar-inverse bg-faded">
        <h4 class="text-title">{{ config.TITLE_NAV }}</h4>
    </nav>
    </div>
{% endblock navbar %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-switch.min.js') }}"></script>
{% endblock scripts %}

</body>
{% endblock body %}

</html>
{% endblock html %}