{% extends "base.html" %}

{% block messages %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="container col-md-3">
                <div class="alert alert-info alert-dismissible fade show flashes" role="alert">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock messages %}

{% block metas  %}
    <meta id="pin-data" data-pin-on="{{ url_for('gpio_pin_on', pin=pin) }}" data-pin-off="{{ url_for('gpio_pin_off', pin=pin) }}">
{% endblock metas  %}

{% block body %}
{{ super() }}

{% block content %}
    <div class="container col-md-3">

    <div class="row center-row">
    <script>$.fn.bootstrapSwitch.defaults.size = 'mini';</script>

    <table class="table-responsive">
    <thead>
        <tr>
            <th class="text-center">State</th>
            <th class="text-center">Pin</th>
            <th class="text-center">Name</th>
            <th></th>
            <th></th>
            <th class="text-center">Name</th>
            <th class="text-center">Pin</th>
            <th class="text-center">State</th>
        </tr>
    </thead>
    <tbody>

        {# Line 01 #}
        <tr>
            <td></td>
            <td class="text-pin">01</td>
            <td class="text-name">3.3v</td>
            <td class="table-active"><i class="icon-pin text-danger"></i></td>
            <td class="table-active"><i class="icon-pin text-danger"></i></td>
            <td class="text-name">5v</td>
            <td class="text-pin">02</td>
            <td></td>
        </tr>
        {# End Line 01 #}

        {# Line 02 #}
        <tr>
            <td>
                <input type="checkbox" name="gpio02" id="03">
                <script>$("[name='gpio02']").bootstrapSwitch();</script>
                <script>

                </script>

            </td>
            <td class="text-pin">03</td>
            <td class="text-name">GPIO02</td>
            <td class="table-active"><i class="icon-pin text-primary"></i></td>
            <td class="table-active"><i class="icon-pin text-danger"></i></td>
            <td class="text-name">5v</td>
            <td class="text-pin">04</td>
            <td></td>
        </tr>
        {# End Line 02 #}

        {# Line 03 #}
        <tr>
            <td>
                <input type="checkbox" name="gpio03" id="05">
                <script>$("[name='gpio03']").bootstrapSwitch();</script>
            </td>
            <td class="text-pin">05</td>
            <td class="text-name">GPIO03</td>
            <td class="table-active"><i class="icon-pin text-primary"></i></td>
            <td class="table-active"><i class="icon-pin text-name-dark"></i></td>
            <td class="text-name">Ground</td>
            <td class="text-pin">06</td>
            <td></td>
        </tr>
        {# End Line 03 #}

        {# Line 04 #}
        <tr>
            <td>
                <input type="checkbox" name="gpio04" id="07">
                <script>$("[name='gpio04']").bootstrapSwitch();</script>
            </td>
            <td class="text-pin">07</td>
            <td class="text-name">GPIO04</td>
            <td class="table-active"><i class="icon-pin text-success"></i></td>
            <td class="table-active"><i class="icon-pin text-warning"></i></td>
            <td class="text-name">GPIO14</td>
            <td class="text-pin">08</td>
            <td>
                <input type="checkbox" name="gpio14" id="08">
                <script>$("[name='gpio14']").bootstrapSwitch();</script>
            </td>
        </tr>
        {# End Line 04 #}

        {# Line 05 #}
        <tr>
            <td></td>
            <td class="text-pin">09</td>
            <td class="text-name">Ground</td>
            <td class="table-active"><i class="icon-pin text-name-dark"></i></td>
            <td class="table-active"><i class="icon-pin text-warning"></i></td>
            <td class="text-name">GPIO15</td>
            <td class="text-pin">10</td>
            <td>
                <input type="checkbox" name="gpio15" id="10">
                <script>$("[name='gpio15']").bootstrapSwitch();</script>
            </td>
        </tr>
        {# End Line 05 #}

        {# Line 06 #}
        <tr>
            <td>
                <input type="checkbox" name="gpio17" id="11">
                <script>$("[name='gpio17']").bootstrapSwitch();</script>
            </td>
            <td class="text-pin">11</td>
            <td class="text-name">GPIO17</td>
            <td class="table-active"><i class="icon-pin text-success"></i></td>
            <td class="table-active"><i class="icon-pin text-success"></i></td>
            <td class="text-name">GPIO18</td>
            <td class="text-pin">12</td>
            <td>
                <input type="checkbox" name="gpio18" id="12">
                <script>$("[name='gpio18']").bootstrapSwitch();</script>
            </td>
        </tr>
        {# End Line 06 #}

        {# Line 07 #}
        <tr>
            <td>
                <input type="checkbox" name="gpio27" id="13">
                <script>$("[name='gpio27']").bootstrapSwitch();</script>
            </td>
            <td class="text-pin">13</td>
            <td class="text-name">GPIO27</td>
            <td class="table-active"><i class="icon-pin text-success"></i></td>
            <td class="table-active"><i class="icon-pin text-name-dark"></i></td>
            <td class="text-name">Ground</td>
            <td class="text-pin">14</td>
            <td></td>
        </tr>
        {# End Line 07 #}

        {# Line 08 #}
        <tr>
            <td>
                <input type="checkbox" name="gpio22" id="15">
                <script>$("[name='gpio22']").bootstrapSwitch();</script>
            </td>
            <td class="text-pin">15</td>
            <td class="text-name">GPIO22</td>
            <td class="table-active"><i class="icon-pin text-success"></i></td>
            <td class="table-active"><i class="icon-pin text-success"></i></td>
            <td class="text-name">GPIO23</td>
            <td class="text-pin">16</td>
            <td>
                <input type="checkbox" name="gpio23" id="16">
                <script>$("[name='gpio23']").bootstrapSwitch();</script>
            </td>
        </tr>
        {# End Line 08 #}

        {# Line 09 #}
        <tr>
            <td></td>
            <td class="text-pin">17</td>
            <td class="text-name">3.3v</td>
            <td class="table-active"><i class="icon-pin text-danger"></i></td>
            <td class="table-active"><i class="icon-pin text-success"></i></td>
            <td class="text-name">GPIO24</td>
            <td class="text-pin">18</td>
            <td>
                <input type="checkbox" name="gpio24" id="18">
                <script>$("[name='gpio24']").bootstrapSwitch();</script>
            </td>
        </tr>
        {# End Line 09 #}

        {# Line 10 #}
        <tr>
            <td>
                <input type="checkbox" name="gpio10" id="19">
                <script>$("[name='gpio10']").bootstrapSwitch();</script>
            </td>
            <td class="text-pin">19</td>
            <td class="text-name">GPIO10</td>
            <td class="table-active"><i class="icon-pin text-info"></i></td>
            <td class="table-active"><i class="icon-pin text-name-dark"></i></td>
            <td class="text-name">Ground</td>
            <td class="text-pin">20</td>
            <td></td>
        </tr>
        {# End Line 10 #}

        {# Line 11 #}
        <tr>
            <td>
                <input type="checkbox" name="gpio09" id="21">
                <script>$("[name='gpio09']").bootstrapSwitch();</script>
            </td>
            <td class="text-pin">21</td>
            <td class="text-name">GPIO09</td>
            <td class="table-active"><i class="icon-pin text-info"></i></td>
            <td class="table-active"><i class="icon-pin text-success"></i></td>
            <td class="text-name">GPIO25</td>
            <td class="text-pin">22</td>
            <td>
                <input type="checkbox" name="gpio25" id="22">
                <script>$("[name='gpio25']").bootstrapSwitch();</script>
            </td>
        </tr>
        {# End Line 11 #}

        {# Line 12 #}
        <tr>
            <td>
                <input type="checkbox" name="gpio11" id="23">
                <script>$("[name='gpio11']").bootstrapSwitch();</script>
            </td>
            <td class="text-pin">23</td>
            <td class="text-name">GPIO11</td>
            <td class="table-active"><i class="icon-pin text-info"></i></td>
            <td class="table-active"><i class="icon-pin text-info"></i></td>
            <td class="text-name">GPIO08</td>
            <td class="text-pin">24</td>
            <td>
                <input type="checkbox" name="gpio08" id="24">
                <script>$("[name='gpio08']").bootstrapSwitch();</script>
            </td>
        </tr>
        {# End Line 12 #}

        {# Line 13 #}
        <tr>
            <td></td>
            <td class="text-pin">25</td>
            <td class="text-name">Ground</td>
            <td class="table-active"><i class="icon-pin text-name-dark"></i></td>
            <td class="table-active"><i class="icon-pin text-info"></i></td>
            <td class="text-name">GPIO07</td>
            <td class="text-pin">26</td>
            <td>
                <input type="checkbox" name="gpio07" id="26">
                <script>$("[name='gpio07']").bootstrapSwitch();</script>
            </td>
        </tr>
        {# End Line 13 #}

        {# Line 14 #}
        <tr>
            <td></td>
            <td class="text-pin">27</td>
            <td class="text-name">ID_SD</td>
            <td class="table-active"><i class="icon-pin text-warning"></i></td>
            <td class="table-active"><i class="icon-pin text-warning"></i></td>
            <td class="text-name">ID_SC</td>
            <td class="text-pin">28</td>
            <td></td>
        </tr>
        {# End Line 14 #}

        {# Line 15 #}
        <tr>
            <td>
                <input type="checkbox" name="gpio05" id="29">
                <script>$("[name='gpio05']").bootstrapSwitch();</script>
            </td>
            <td class="text-pin">29</td>
            <td class="text-name">GPIO05</td>
            <td class="table-active"><i class="icon-pin text-success"></i></td>
            <td class="table-active"><i class="icon-pin text-name-dark"></i></td>
            <td class="text-name">Ground</td>
            <td class="text-pin">30</td>
            <td></td>
        </tr>
        {# End Line 15 #}

        {# Line 16 #}
        <tr>
            <td>
                <input type="checkbox" name="gpio06" id="31">
                <script>$("[name='gpio06']").bootstrapSwitch();</script>
            </td>
            <td class="text-pin">31</td>
            <td class="text-name">GPIO06</td>
            <td class="table-active"><i class="icon-pin text-success"></i></td>
            <td class="table-active"><i class="icon-pin text-success"></i></td>
            <td class="text-name">GPIO12</td>
            <td class="text-pin">32</td>
            <td>
                <input type="checkbox" name="gpio12" id="32">
                <script>$("[name='gpio12']").bootstrapSwitch();</script>
            </td>
        </tr>
        {# End Line 16 #}

        {# Line 17 #}
        <tr>
            <td>
                <input type="checkbox" name="gpio13" id="33">
                <script>$("[name='gpio13']").bootstrapSwitch();</script>
            </td>
            <td class="text-pin">33</td>
            <td class="text-name">GPIO13</td>
            <td class="table-active"><i class="icon-pin text-success"></i></td>
            <td class="table-active"><i class="icon-pin text-name-dark"></i></td>
            <td class="text-name">Ground</td>
            <td class="text-pin">34</td>
            <td></td>
        </tr>
        {# End Line 17 #}

        {# Line 18 #}
        <tr>
            <td>
                <input type="checkbox" name="gpio19" id="35">
                <script>$("[name='gpio19']").bootstrapSwitch();</script>
            </td>
            <td class="text-pin">35</td>
            <td class="text-name">GPIO19</td>
            <td class="table-active"><i class="icon-pin text-success"></i></td>
            <td class="table-active"><i class="icon-pin text-success"></i></td>
            <td class="text-name">GPIO16</td>
            <td class="text-pin">36</td>
            <td>
                <input type="checkbox" name="gpio16" id="36">
                <script>$("[name='gpio16']").bootstrapSwitch();</script>
            </td>
        </tr>
        {# End Line 18 #}

        {# Line 19 #}
        <tr>
            <td>
                <input type="checkbox" name="gpio26" id="37">
                <script>$("[name='gpio26']").bootstrapSwitch();</script>
            </td>
            <td class="text-pin">37</td>
            <td class="text-name">GPIO26</td>
            <td class="table-active"><i class="icon-pin text-success"></i></td>
            <td class="table-active"><i class="icon-pin text-success"></i></td>
            <td class="text-name">GPIO20</td>
            <td class="text-pin">38</td>
            <td>
                <input type="checkbox" name="gpio20" id="38">
                <script>$("[name='gpio20']").bootstrapSwitch();</script>
            </td>
        </tr>
        {# End Line 19 #}

        {# Line 20 #}
        <tr>
            <td></td>
            <td class="text-pin">39</td>
            <td class="text-name">Ground</td>
            <td class="table-active"><i class="icon-pin text-name-dark"></i></td>
            <td class="table-active"><i class="icon-pin text-success"></i></td>
            <td class="text-name">GPIO21</td>
            <td class="text-pin">40</td>
            <td>
                <input type="checkbox" name="gpio21" id="40">
                <script>$("[name='gpio21']").bootstrapSwitch();</script>
            </td>
        </tr>
        {# End Line 20 #}

    </tbody>
    </table>

    </div> {# Row #}
    </div> {# container #}

{% endblock content %}

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

{% endblock body %}