{% extends "base.html" %}

{% block body %}
{{ super() }}

{% block content %}

    <div class="container col-md-3">
    <div class="w-100">&nbsp;</div>
        {% if message %}
        <div class="alert alert-info alert-dismissible fade show flashes" role="alert">{{ message }}</div>
        <script> onload = function() { setTimeout('history.go(-1)', 500); } </script>
        {% endif %}
    </div>

{% endblock content %}

{% endblock body %}
